.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  margin: 92px 51px 0 51px;
}

.header__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  gap: 32px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item {
  list-style: circle;
}

.header__logo {
  width: 137px;
  height: 105px;
}

.address {
  justify-self: end;
  align-self: center;
}

.address_link {
  list-style: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  width: 240px;
}
/*--------------------------COVER--------------------------------------------------*/
.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  min-height: 757px;
  z-index: 0;
  margin: 96px 0 180px;
}

.overlay {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  inset: 0;
}

.cover__title {
  display: block;
  color: #fff;
  z-index: 2;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
  padding: 165px 50px 121px;
}

.aligned-text {
  display: block;
  padding-top: 20px;
}

.aligned-text:first-child {
  padding-top: 0;
}

.aligned-text_center {
  text-align: center;
  line-height: 100%;
}

.aligned-text_right {
  text-align: right;
  line-height: 100%;
  letter-spacing: 30px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  gap: 79px;
}
.cover__description-text {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  z-index: 4;
  word-spacing: 18px;
  padding-bottom: 10px;
}

.bet-button {
  width: 257px;
  min-height: 52px;
  border: 1px solid currentColor;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  margin-right: 50px;
  margin-top: 12px;
}
/*---------------------------------------LOTS--------------------------------------------------------*/

.lots {
  display: flex;
  flex-direction: column;
  max-width: 1340px;
  margin: 180px 50px 181px;
  
}

.lots__heading {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-left: 40px;
}

.lots__card-list {
  flex-wrap: wrap;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-top: 27px;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 430px;
  min-height: 450px;
}

.card-link {
  text-decoration: none;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card {
  flex-grow: 1;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 50px 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

.card__title {
  z-index: 5;
  width: 100%;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.lots__look-more-link {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  padding-top: 30px;
  padding-left: 40px;
  padding-bottom: 2px;
}
/*--------------------------ABOUT-----------------------------------------------*/
.about {
  max-width: 1340px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 182px;
  margin-left: 57px;
  margin-right: 57px;
}

.about__logo {
  grid-row: 1;
  grid-column: 1;
  justify-self: center;
  background-color: #000;
  width: 240px;
  height: 240px;
  content: attr(data-notifications);
  border-radius: 50%;
  margin-right: 28px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  grid-row: 1;
  grid-column: 1;
  margin: 63px 46px;
}

.about__title {
  grid-row: 1;
  grid-column: 2;
  align-self: center;
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 6px;
}

.about__text {
  grid-row: 2;
  grid-column: 2/4;
  font-size: 20px;
  font-weight: 400;
  max-width: 885px;
  padding-left: 6px;
  padding-top: 2px;
}

.text {
  padding-bottom: 25px;
}

.text:last-child {
  padding-bottom: 0;
}

/*--------------------------FOOTER--------------------------------------------------*/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 50px 90px 50px;
}

.footer__menu {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 48px;
}

.footer__social-icon {
  height: 48px;
  width: 48px;
}
